extends layout

block content
  h1= title
  div(class="api-list")
    ul
      each api in apiInfo.list
        li
          button(onclick=`sendReq('${apiInfo.base + api.path}')`) execute
          a(href=apiInfo.base+api.path) #{api.name}

