extends layout

block content
  h1= title
  div 
    ul 
      li
        a(href="/api/gapi/ga/data") GA dataApi
      li
        a(href="/api/gapi/ga/admin") GA adminApi
      li 
        a(href="/api/gapi/gcp/resm") GCP resmApi
  div
    ul
      each api in apiInfo.list
        li
          a(href=apiInfo.base+api.path) #{api.name}
