include mixins.pug

doctype html
html
  head
    title= title
    meta(name="charset", content="UTF-8")
    meta(name="description", content="mongodb, express, node, life is a journey")
    meta(name="author", content="aten")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/css/xyz.css')
    script(src="/js/xyz.js")
  body
    +nav()

    block content
