mixin nav()
  nav(id="topNav")
    ul
      li
        a(href="/") Home
      li
        a(href="/api/dev") Dev
      li
        a(href="/api/kit") Kit
      li
        a(href="/api/log") Log
      li
        a(href="/api/gapi/ga/data") gaDataAPI
      li
        a(href="/api/gapi/ga/admin") gaAdminAPI
      li
        a(href="/api/gapi/ga/admin/xm") XM