body{
  padding-left: 20px;
}
a{
  text-decoration: none;
  color: #0969da;
  font-weight: 600;
}
a:hover{
  text-decoration: underline;
}
ul>li{
  line-height: 1.5em;
}
h1{
  font-size: 24px;
}
/*-++-++++=-++---+-=-++++---=-++++--+=-++++-+-=--+-+++-=-++---++=-++-++++=-++-++-+*/
#topNav ul{
  padding-inline-start: 20px;
}
#topNav ul li{
  display: inline-block;
  margin-right: 10px;
}
#loginForm{
  display: none;
}
/*-++-++++=-++---+-=-++++---=-++++--+=-++++-+-=--+-+++-=-++---++=-++-++++=-++-++-+*/
button{
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  margin-right: 5px;
}
button:hover{
  color: black;
  font-weight: 600;
}