extends ../layout

block content
  h1= title
  div 
    ul 
      li
        a(href="/gapi/ga/data") GA dataApi
      li
        a(href="/gapi/ga/admin") GA adminApi
      li 
        a(href="/gapi/gcp/resm") GCP resmApi